<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="mx-24">
        <h1 class="font-bold text-sky-500 text-3xl text-center my-10">Tour du lịch</h1>
        <div>
            <h2 class="font-bold text-xl">Bộ lọc</h2>
            <label for="price">Khoảng giá</label>
            <select name="price" id="price">
                <option value="">Từ 500.000đ đến 1.000.000đ</option>
                <option value="">Từ 1.000.000đ đến 2.000.000đ</option>
                <option value="">Từ 2.000.000đ đến 5.000.000đ</option>
                <option value="">Từ 5.000.000đ đến 10.000.000đ</option>
                <option value="">Trên 10.000.000đ</option>
            </select>
        </div>
    </div>
    <script>
        const price = document.getElementById('price');
        price.addEventListener('change', () => {
            console.log(price.value);
        })
    </script>
</body>

</html>