.widget widget-zalo a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px 5px 5px;
    

}
.widget {
    position: fixed;
    bottom: 10px;
    right: 10px;

}
.widget img{
    height: 80px;
    width: 80px;
    
}
@keyframes zoomin-zoomout{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(.875,.875);
    }
    100%{
        transform: scale(1,1);
    }
}
img{
    max-width: 100%;
    animation: zoomin-zoomout 2S ease infinite;
}
img{
    vertical-align: middle;
}
img{
    border: 0;
}
*{
    font-family: roboto,sans-serif;
}
